.box{
	display: flex;
	flex-direction: row;
	background-color: #f1f1f1;
}

 .box >.flex {
	display: flex;
	width: 80vw;
	flex-wrap: wrap;
	background-color: blue;
	margin: 0vw;
	border: 0vw;
}

  .flex > div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f1f1f1;
	width: 225px;
	height: 225px;
	margin: 1px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}

.footer {
	background-color: #49f05d;
	text-align: center;
	padding: 1vw;
  }

  .footer > div2{
	height: 1vw;
  }

  .sidebar{
	display: flex;
	justify-content: center;
	align-items: center;
	width:17vw;
	height: 455px;
	background-color: #F1F1F1;
  }